#abc1{
	color:skyblue;
	padding: 30px;
	margin-bottom: 200px;
	padding-right: ;
}
#xyz{
	margin: 40px;
	background-color: skyblue;
	background-image: url('dark.jpg');
}
.abc2{
	color: skyblue;
	padding: 20px;
	font-size:30px;
}
.xyz{
	padding: 25px;
}
#A{
	padding-left: 1040px;
	padding-bottom:50px ;
}
.q{
	color: skyblue;
	font-size: 30px ;
	padding-left: 50px;
}
